# OLA WAHBA
# GO_STP_6027
# TASK 8 - Goeduhub Technologies
# **Prediction using Supervised Machine Learning using Multiple Linear Regression**

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

***Import*** **Dataset**

In [64]:
df=pd.read_csv('/content/50_Startups.csv')

In [65]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [66]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [67]:
df.max()

R&D Spend            165349
Administration       182646
Marketing Spend      471784
State              New York
Profit               192262
dtype: object

In [68]:
df.min()

R&D Spend                   0
Administration        51283.1
Marketing Spend             0
State              California
Profit                14681.4
dtype: object

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [70]:
df.shape

(50, 5)

In [71]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [72]:
df.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

#Spliting of dataset into testing and training

In [108]:
from sklearn.preprocessing import LabelEncoder
lab_enc = LabelEncoder()
df.State = lab_enc.fit_transform(df.State)

In [116]:
x = df.drop(['Profit'], axis=1)
y = df['Profit']

(50,)

In [121]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.33,random_state=5)

In [122]:
xtrain.shape

(33, 4)

In [123]:
ytrain.shape

(33,)

In [124]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [125]:
ypred = model.predict(xtest)
ypred

array([ 71991.46173809, 100202.53605052, 156058.24565356, 113474.41040427,
        98779.06068239, 129187.43271221, 182795.57061137,  59985.39476983,
       173634.23361348, 116158.70891401,  96097.46679374, 173199.30425017,
        98211.01303815, 191724.59137363, 111015.81389142, 164403.33416334,
        52317.9505568 ])

In [129]:
from sklearn.metrics import r2_score
score=r2_score(ytest,ypred)
score

0.9760610932543539